img.center {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 960px){
  body {
    /* Larger width on big viewports to see images better */
    width: 80em;
  }
}